.title {
    font-weight: bold;
    padding-right: 2vw;
    text-align: right;
    width: 50%;
}

.detail {
    width: 50%;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.topBar {
    background-color: map-get($mat-primary, 500);
    height: 64px;
    padding-left: 1vw;
    padding-right: 1vw;
  }