@use '@angular/material' as mat;

@include mat.core();

$theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$blue-palette,
  ),
  typography: (
    brand-family: 'Comic Sans',
    bold-weight: 900
  ),
  density: (
    scale: -1
  )
));

html {
    // Apply the light theme by default
    @include mat.core-theme($theme);
    @include mat.button-theme($theme);
    @include mat.all-component-themes($theme);
  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.wrapper {
  margin: 0px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 100%;
}

.main-content {
  background-color: white;
  margin: 2vw;
  margin-left: 8vw;
}