<mat-card
  style="
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    justify-content: center;
    align-items: center;
  "
>
  <mat-card-subtitle><h6>Register</h6></mat-card-subtitle>
  <mat-card-content class="full-width">
    <form
      [formGroup]="registerForm"
      autocomplete="off"
      novalidate
      (ngSubmit)="registerUser(registerForm.value)"
      class="full-width"
      style="text-align: center;"
    >
      <div class="m-1">
        <mat-form-field class="half-width">
          <mat-label for="firstName">First Name:</mat-label>
          <div>
            <input matInput
              id="firstName"
              formControlName="firstName"
            /></div
        ></mat-form-field>
      </div>
      <div class="m-1">
        <mat-form-field class="half-width">
          <mat-label for="lastName">Last Name:</mat-label>
          <div>
            <input matInput id="lastName" formControlName="lastName" /></div
        ></mat-form-field>
      </div>
      <div class="m-1">
        <div>
          <mat-form-field appearance="fill" class="half-width">
            <mat-label>Account Type:</mat-label>
            <mat-select formControlName="role">
              <mat-option *ngFor="let option of options" [value]="option">
                {{ option }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="registerForm.get('role')?.hasError('required')">
              Please select an account type
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="m-1">
        <mat-form-field class="half-width">
          <mat-label for="email">Email:</mat-label>
          <div>
            <input matInput id="email" formControlName="email" />
          </div>
          <mat-error>
            <em *ngIf="validateControl('email') && hasError('email', 'email')"
              >Please provide a valid email</em
            >
            <em
              *ngIf="validateControl('email') && hasError('email', 'required')"
              >Email is required</em
            >
          </mat-error>
        </mat-form-field>
      </div>
      <div class="m-1">
        <mat-form-field class="half-width">
          <mat-label for="password">Password:</mat-label>
          <div>
            <input matInput type="password" id="password" formControlName="password" />
          </div>
          <mat-error>
            <em
              *ngIf="
                validateControl('password') && hasError('password', 'required')
              "
              >Password is required</em
            >
          </mat-error>
        </mat-form-field>
      </div>
      <div class="m-1" style="font-size: small; text-align: left;">
        <em
          >Passwords must:
          <ul>
            <li>be at least 6 characters</li>
            <li>contain a number</li>
            <li>contain a special character</li>
            <li>contain both upper and lower case letters</li>
          </ul>
        </em>
      </div>
      <div>
        <div>
          <button
            mat-raised-button
            type="submit"
            [disabled]="!registerForm.valid"
          >
            Register
          </button>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
