.full-width {
  width: 100%;
}

.full-margin {
  margin: 1vw;
}

.book-view {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  gap: 4vw;
}

.topBar {
  background-color: whitesmoke;
  padding: 1vh;
  display: flex;
  justify-content: end;
  gap: 4vw;
}