<div class="full-margin">
  <h5>Featured Books</h5>

  <div *ngFor="let book of books" class="book-view">
    <div class="full-width">
      <span style="text-decoration: underline">{{ book.title }}</span> by
      <em>{{ book.author }}</em
      ><br />
      {{ book.description }}<br />
      <em>Rated {{ book.averageUserRating }}/5</em><br />
      <button mat-raised-button (click)="viewBook(book.bookId)">
          View
        </button>
    </div>
    <div>
      <img src="{{ book.coverImage }}" width="200" height="200" />
    </div>
  </div>
</div>
