<div class="topMenuBar">
  <div class="column">
    <p class="appTitle">Chad's Library Portfolio</p>
  </div>
  <button
    mat-button
    [matMenuTriggerFor]="librarianMenu"
    class="menuButton"
    *ngIf="isUserLibrarian && isUserAuthenticated"
  >
    Librarians
  </button>
  <mat-menu #librarianMenu="matMenu" yPosition="below">
    <a mat-button routerLink="add-book" routerLinkActive="activebutton"
      >Add Books</a
    ><br/>
    <a mat-button routerLink="search" routerLinkActive="activebutton"
    >Search Books</a
  >
  </mat-menu>

  <button
    mat-button
    [matMenuTriggerFor]="customerMenu"
    class="menuButton"
    *ngIf="!isUserLibrarian && isUserAuthenticated"
  >
    Customers
  </button>
  <mat-menu #customerMenu="matMenu" yPosition="below">
    <a mat-button routerLink="featured" routerLinkActive="activebutton"
      >Featured Books</a
    ><br/>
    <a mat-button routerLink="search" routerLinkActive="activebutton"
      >Search Books</a
    >
  </mat-menu>

  <div *ngIf="!isUserAuthenticated">
    <a
      mat-button
      routerLink="login"
      routerLinkActive="activebutton"
      class="menuButton"
      >Login</a
    >
    <a
      mat-button
      routerLink="register"
      routerLinkActive="activebutton"
      class="menuButton"
      >Register</a
    >
  </div>
  <div *ngIf="isUserAuthenticated">
    <a mat-button (click)="logout()" class="menuButton">Logout</a>
  </div>
</div>
