<mat-card
  style="
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    justify-content: center;
    align-items: center;
  "
>
  <mat-card-subtitle><h6>Login</h6></mat-card-subtitle>
  <mat-card-content class="full-width">
    <div *ngIf="showError" role="alert">
      {{ errorMessage }}
    </div>

    <form
      [formGroup]="loginForm"
      autocomplete="off"
      novalidate
      (ngSubmit)="loginUser(loginForm.value)"
      class="full-width"
      style="text-align: center;"
    >
      <div class="m-1">
        <mat-form-field class="half-width">
        <mat-label for="username">Username:</mat-label>
        
          <input matInput id="username" formControlName="username" />
        
        <mat-error>
          <em
            *ngIf="
              validateControl('username') && hasError('username', 'required')
            "
            >Username is required</em
          >
        </mat-error>
        </mat-form-field>
      </div>
      <div class="m-1">
        <mat-form-field class="half-width">
        <mat-label for="password">Password:</mat-label>
        
          <input matInput type="password" id="password" formControlName="password" />
        
        <mat-error>
          <em
            *ngIf="
              validateControl('password') && hasError('password', 'required')
            "
            >Password is required</em
          >
        </mat-error>
      </mat-form-field>
      </div>
      <br />
      <div class="m-1">
        <div>
          <button mat-raised-button type="submit" [disabled]="!loginForm.valid">Login</button>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
